<!--<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<body>

<div ng-app="myApp" ng-controller="customersCtrl" class="container"> 

    <div class="jumbotron">
        <table class="table">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Responsable</th>
            <th>Ext.</th>
            <th>Telefono</th>
            <th>E-mail</th>
            <th>Ciudad</th>
            <th>Estado</th>
          </thead>
          <tbody>
              <tr ng-repeat="x in optics">
                <td>{{ x.id }}</td>
                <td>{{ x.nombre }}</td>
                <td>{{ x.direccion }}</td>
                <td>{{ x.responsable }}</td>
                <td>{{ x.extension }}</td>
                <td>{{ x.telefono }}</td>
                <td>{{ x.email }}</td>
                <td>{{ x.ciudad }}</td>
                <td>{{ x.estado }}</td>
              </tr>
          </tbody>
        </table>
    </div>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    $http.get("opticas.php")
    .then(function (response) {$scope.optics = response.data.results;});
});
</script>

</body>
</html>
-->


<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<body>

<div ng-app="myApp" ng-controller="customersCtrl" class="container"> 

    <div class="jumbotron">
        <table class="table">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Responsable</th>
            <th>Ext.</th>
            <th>Telefono</th>
            <th>E-mail</th>
            <th>Ciudad</th>
            <th>Estado</th>
          </thead>
          <tbody>
              <tr ng-repeat="x in opticas">
                <td>{{ x.Id }}</td>
                <td>{{ x.Nombre }}</td>
                <td>{{ x.Direccion }}</td>
                <td>{{ x.Responsable }}</td>
                <td>{{ x.Extension }}</td>
                <td>{{ x.Telefono }}</td>
                <td>{{ x.Email }}</td>
                <td>{{ x.Ciudad }}</td>
                <td>{{ x.Estado }}</td>
              </tr>
          </tbody>
        </table>
    </div>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    $http.get("opticas.php")
    .then(function (response) {$scope.opticas = response.data.results;});
});
</script>

</body>
</html>
